@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #242430;
}

/* navbar */

.hamburguer{
    display: none;
}

.logo{
    position: absolute;
    left: 60px;
    white-space: nowrap;
}

.logo a{
    font-size: 18px;
    color: #FCFDFE;
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
}

.carrinho{
    position: absolute;
    right: 90px;
    cursor: pointer;
}

.carrinho:hover{
    transform: scale(1.110);
    transition: all .5s ease-in-out;
}

.carrinho i{
    font-size: 45px;
    color: #fff;
}

.qtdCarrinho{
    position: absolute;
    right: 80px;
    top: 34px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #242430;
    font-size: 25px;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
    background: #F43944;
    padding: 25px;
    border-radius: 12px;
    overflow: hidden;
    z-index: 900;
}

.menu{
    margin-left: 28rem;
    overflow: hidden;
    white-space: nowrap;
}

.menu ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.menu li a{
    font-size: 19px;
    font-family: 'Inter', sans-serif;
    color: #fff;
    text-decoration: none;
}

/* fim */

/* home */

section{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    flex-wrap: wrap;
    overflow: hidden;
    z-index: -100;
    width: 100%;
}

.container{
    /* display: flex;
    /* width: 100%; */
     background: linear-gradient(92deg, rgba(84, 69, 168, 0.80) 1.6%, rgba(5, 3, 16, 0.00) 68.03%); 
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    max-width: 100%;
}

.background-container{
    display: flex;
    margin-left: 190px;
    margin-top: 95px;
    width: auto;
    align-items: center;
    flex-direction: column;
}

.background-container img{
    width: 100%;
}

.text-container{
    position: absolute;
    top: 190px;
    padding-left: 29px;
}

.text-container h2{
    width: 42%;
    font-size: 35px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
}

.text-container span{
    color:  #D7C981;
}

/* fim */

/* apresentação Fone Sony */

.banner-apresentation{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(180deg, rgba(5, 3, 16, 0.50) 0%, rgba(5, 3, 16, 0.00) 100%);
    flex-wrap: wrap;

}

.text-apresentation{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    margin-top: 340px;
    margin-left: 84px;
}

.image-apresentation{
    margin-left: 130px;
    z-index: 200;
    filter: drop-shadow(0 0 0.75rem rgba(220, 20, 60, 0.541));
}


.text-apresentation p{
    color: rgba(255, 255, 255, 0.80);
    font-size: 48px;
}

.text-apresentation h1{
    font-size: 120px;
    color: #fff;
}

.text-apresentation h3{
    color: rgba(255, 255, 255, 0.50);
    font-size: 24px;
}

.text-fone-gamer{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    font-family: 'Inter', sans-serif;
    margin-right: 90px;
}

.text-fone-gamer h2{
    font-size: 40px;
    color: #fff;
}

.text-fone-gamer h3{
    color: rgba(255, 255, 255, 0.50);
    width: 70%;
    margin-bottom: 10px;
}

#Shop-cart{
    width: 39%;
    padding: 10px;
    border-radius: 14px;
    background: #F43944;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border: 1px solid #F43944;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}

#Shop-cart:hover{
    background-color: #242430;
    transition: all .5s ease-in-out;
}

/* produtos */
.produtos-mercadoria{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 100px;
}

.text-mercadoria{
    max-width: 100%;
    margin-bottom: 125px;
}

.text-mercadoria h1{
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    color: #fff;
    letter-spacing: 2px;
}

.products{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 90px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #2F2F3B;
    padding: 38px ;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.card img{
    display: flex;
    align-items: center;
    margin: auto;
}



.text-card{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 59px;
    font-size: 27px;
    padding-inline: 5px;
}

.text-card span{
    color: #AAA;
    font-family: 'Inter', sans-serif;
    margin-bottom: 5px;
}

.text-card p{
    padding-left: 15px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;
}

.text-card s{
    padding-left: 15px;
    font-family: 'Lexend Deca', sans-serif;
    color: #ff0000;
}

.text-card input{
    padding: 20px;
    border-radius: 5px;
    background: #676EFE;
    color: #fff;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    border: 1px solid #676EFE;
    cursor: pointer;
}

.text-card input:hover{
    background: #fff;
    color: #676EFE;
}

/* fim */

/* lista de compras */


.fundo{
   display: none;
   justify-content: center;
   align-items: center;
   max-width: 100%;
   position: fixed;
   right: 0;
   left: 0;
   bottom: 0;
   top: 0;
   height: 100vh;
   background: rgba(47, 47, 59, 0.50);
    backdrop-filter: blur(10px);
}
.listaCompra{
    display: block;
    justify-content: space-between;
    flex-direction: column;
    background-color: #2F2F3B;
    padding: 50px;
    max-width: 100%;
    border-radius: 14px;
}

.carrinho-text h1{
    color: #fff;
    font-family: 'Inter', sans-serif;
}

hr{
    margin-top: -45px;
    border: 5px solid rgba(255, 255, 255, 0.50);;
}

.remove-card{
    position: relative;
    top: -115px;
    left: 500px;
    background-color: #F43944;
    width: 60px;
    height: 60px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.remove-card:hover{
    background: #fff;
    cursor: pointer;
}

.remove-card i:hover{
    color: #ff0000;
    cursor: pointer;
}

.remove-card i{
    font-size: 30px;
    color: #fff;
}

.identificao{
    display: flex; justify-content: center;
    font-size: 20px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    margin-top: 2rem;
    gap: 80px;
    margin-left: 128px;
    margin-bottom: 15px;
}

.preco{
    margin-left: 90px;
}


.card-carrinho{
    display: flex;
    margin: 20px;
}

.card-carrinho img{
    width: 109px;
    height: 109px;
    border-radius: 25px;
    background: #242430;
}

.text-card-carrinho{
    display: grid;
    grid-template-columns: 2.7fr 0fr;
    padding-left: 8px;
    font-size: 24px;
}

.text-card-carrinho span{
    font-family: 'Inter', sans-serif;
    color: #aaa;
    font-size: 20px;
    margin-top: 3px;
}

.text-card-carrinho p{
    font-family: 'Inter', sans-serif;
    color: #ffffff9c;
    font-size: 20px;
}

.text-card-carrinho input{
    position: relative;
    left: 208px;
    top: 20px;
    height: 30px;
    width: 125px;
    border-radius: 6px;
    background: #D7C981;
    border: 1px solid #D7C981;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}

.text-card-carrinho input:hover{
    background: #fff;
    color: #D7C981;
    transition: all .5s ease-in-out;
}

.confirmar-pedido{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    gap: 15px;
}

.confirmar-pedido input{
    align-items: center;
    outline: none;
    padding: 15px;
    width: 220px;
    border-radius: 12px;
    background: #F43944;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
}

.confirmar-pedido input:hover{
    background: #fff;
    color: #F43944;
}

.confirmar-pedido p{
    display: flex;
    font-size: 20px;
    align-items: center;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    color: #fff;
}


/* responsive */

@media(max-width: 26.875rem){
    section{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:   41.688rem){
    .background-container{
        margin: auto;
        margin-top: 350px;
    }
    .background-container img{
        width: 100vw;
    }
    .text-container{
        display: flex;
        justify-content: center;
        padding: 0px;
    }
    .text-container h2{
        width: 85%;
        font-size: 35px;
        font-family: 'Inter', sans-serif;
        color: #FFFFFF;
    }
}

@media (max-width: 67.563rem){
    .text-fone-gamer{
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .image-apresentation{
        margin-right: 90px;
    }
    .text-fone-gamer{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding-left: 90px;
        max-width: 100%;
        width: 100%;
    }
    .text-fone-gamer h2{
        font-size: 55px;
        color: #fff;
    }
    
    .text-fone-gamer h3{
        color: rgba(255, 255, 255, 0.50);
        width: 100%;
        font-size: 24px;
        margin-bottom: 10px;
    }
    #Shop-cart{
        width: 85%;
    }

    .image-apresentation{
        margin-right: 90px;
    }
}

@media (max-width: 25.75rem){
    .text-fone-gamer{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding-left: 90px;
        max-width: 100%;
        width: 100%;
    }
    .text-fone-gamer h2{
        font-size: 55px;
        color: #fff;
    }
    
    .text-fone-gamer h3{
        color: rgba(255, 255, 255, 0.50);
        width: 100%;
        font-size: 24px;
        margin-bottom: 10px;
    }
    #Shop-cart{
        width: 85%;
    }

    .image-apresentation{
        margin-right: 90px;
    }

    .image-apresentation img{
        width: 80vw;
    }

    .text-apresentation{
        margin-top: 268px;
        margin-left: 84px;
    }
    
    
    .text-apresentation p{
        color: rgba(255, 255, 255, 0.80);
        font-size: 30px;
    }
    
    .text-apresentation h1{
        font-size: 100px;
        color: #fff;
    }
    
    .text-apresentation h3{
        color: rgba(255, 255, 255, 0.50);
        font-size: 20px;
    }
    .card{
        padding-inline: 15px;
    }
    #notebook{
        padding-inline: 15px;
    }
    .text-card{
        font-size: 19px;
    }
    #microfone{
        margin-bottom: 90px;
    }
}

@media(max-width: 22.5rem){
    .text-fone-gamer{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding-left: 55px;
        max-width: 100%;
        width: 100%;
        margin-top: 50px;
    }
    .text-fone-gamer h2{
        font-size: 55px;
        color: #fff;
    }
    
    .text-fone-gamer h3{
        color: rgba(255, 255, 255, 0.50);
        width: 100%;
        font-size: 24px;
        margin-bottom: 10px;
    }
    #Shop-cart{
        width: 80%;
    }

    .image-apresentation{
        margin-right: 90px;
    }

    .image-apresentation img{
        width: 70vw;
    }

    .text-apresentation{
        margin-top: 210px;
        margin-left: 65px;
    }
    
    
    .text-apresentation p{
        color: rgba(255, 255, 255, 0.80);
        font-size: 20px;
    }
    
    .text-apresentation h1{
        font-size: 90px;
        color: #fff;
    }
    
    .text-apresentation h3{
        color: rgba(255, 255, 255, 0.50);
        font-size: 20px;
    }
}

@media(max-width: 26.875rem){
    .text-fone-gamer{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding-left: 55px;
        max-width: 100%;
        width: 100%;
        margin-top: 50px;
    }
    .text-fone-gamer h2{
        font-size: 55px;
        color: #fff;
    }
    
    .text-fone-gamer h3{
        color: rgba(255, 255, 255, 0.50);
        width: 100%;
        font-size: 24px;
        margin-bottom: 10px;
    }
    #Shop-cart{
        width: 80%;
    }

    .image-apresentation{
        margin-right: 90px;
    }

    .image-apresentation img{
        width: 70vw;
    }

    .text-apresentation{
        margin-top: 229px;
        margin-left: 80px;
    }
    
    
    .text-apresentation p{
        color: rgba(255, 255, 255, 0.80);
        font-size: 45px;
    }
    
    .text-apresentation h1{
        font-size: 90px;
        color: #fff;
    }
    
    .text-apresentation h3{
        color: rgba(255, 255, 255, 0.50);
        font-size: 20px;
    }
}

@media(max-width: 23.438rem){
    .text-fone-gamer{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding-left: 55px;
        max-width: 100%;
        width: 100%;
        margin-top: 50px;
    }
    .text-fone-gamer h2{
        font-size: 55px;
        color: #fff;
    }
    
    .text-fone-gamer h3{
        color: rgba(255, 255, 255, 0.50);
        width: 100%;
        font-size: 24px;
        margin-bottom: 10px;
    }
    #Shop-cart{
        width: 80%;
    }

    .image-apresentation{
        margin-right: 90px;
    }

    .image-apresentation img{
        width: 70vw;
    }

    .text-apresentation{
        margin-top: 198px;
        margin-left: 60px;
    }
    
    
    .text-apresentation p{
        color: rgba(255, 255, 255, 0.80);
        font-size: 45px;
    }
    
    .text-apresentation h1{
        font-size: 90px;
        color: #fff;
    }
    
    .text-apresentation h3{
        color: rgba(255, 255, 255, 0.50);
        font-size: 20px;
    }
}